@model IEnumerable<BillViewModel>
@{ var model = Model.FirstOrDefault(); }

@if (Model.Any())
{
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover text-center flex-column">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => model.Name)</th>
                        <th>@Html.DisplayNameFor(x => model.Type)</th>
                        <th>@Html.DisplayNameFor(x => model.Currency)</th>
                        <th>@Html.DisplayNameFor(x => model.Value)</th>
                        <th>@Html.DisplayNameFor(x => model.Source)</th>
                        <th>@Html.DisplayNameFor(x => model.PurchaseDate)</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bill in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => bill.Name)</td>
                            <td>@Html.DisplayFor(x => bill.Type)</td>
                            <td>@Html.DisplayFor(x => bill.Currency)</td>
                            <td>@Html.DisplayFor(x => bill.Value)</td>
                            <td>@Html.DisplayFor(x => bill.Source)</td>
                            <td>@Html.DisplayFor(x => bill.PurchaseDate)</td>
                            <td>
                                <button style="margin-left: 10px" type="button" class="btn p-0 border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#editModal-@bill.Id">
                                    <i class="fa-solid fa-pen-to-square" style="color: #ffc800;"></i>
                                </button>
                                <button type="button" style="margin-left: 5px" class="btn p-0 border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteModal-@bill.Id">
                                    <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                                </button>
                            </td>
                        </tr>
                        <partial name="_EditModal" model="bill" />
                        <partial name="_DeleteModal" model="bill" />
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h1 style="text-align: center; font-weight: bold; font-size: 24px; margin-right: 85px; padding-top: 50px;">Nenhuma despesa encontrada!</h1>
}